<!-- product_list.html -->
<h1>Products</h1>

<!-- Muestra las categorías para filtrar -->
<form method="get">
    <select name="category">
        <option value="">Todas las categorias</option>
        {% for category in categories %}
            <option value="{{ category.id }}" {% if category.id == request.GET.category %} selected {% endif %}>
                {{ category.name }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Filtrar</button>
</form>

<!-- Muestra los productos -->
<ul>
    {% for product in products %}
        <li>{{ product.name }} - {{ product.price }} USD</li>
    {% endfor %}
</ul>

